<h3>Helló {{ name }}!</h3>
<br>
<p>Új jelszavad megadásához, kérjük kattints a következő linkre: <a href="{{ url('homepage',{'code': code, 'userId': userId}) }}">{{ "új jelszót adok meg" }}</a>.
</p>

<p>Üdvözlettel,<br>KayakFirst</p>