#chart{
	height: 500px;
	margin: auto;
}

.border_white_4p{
	border-color: #fff !important;
	border-width: 4px !important;
}

.pace_box{
	border-color:#ffff00 !important;
}

.speed_box{
	border-color:#005cff !important;
}

.strokes_box{
	border-color:#cd2929 !important;
}

.pull_force_box{
	border-color:#0dd278 !important;
}

@media (min-width: 1301px){
	.box.semi-height.results {
	    height: auto;
	}
}

@media (max-width: 1300px){
	.box.semi-height.results {
	    height: auto;
	}

	.label{
		white-space: normal;
	}

	.chart-options label .label{
		text-align: center;
	}
}

@media (max-width: 1150px) and (min-width: 992px) {
	.chart-options .row .graph-button:not(:first-child):not(:last-child) {
	    padding: 0px 5px;
	}

	.chart-options .row .graph-button:last-child {
	    padding-left: 5px;
	}

	.chart-options .row .graph-button:first-child {
	    padding-right: 5px;
	}

	.chart-options .col-md-6:last-child{
		padding-left: 5px;
	}

	.chart-options .col-md-6:first-child{
		padding-right: 5px;
	}
}